Source: ros-melodic-swri-profiler-tools
Section: misc
Priority: optional
Maintainer: P. J. Reed <preed@swri.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-libqt-dev, ros-melodic-qt-qmake, ros-melodic-roscpp, ros-melodic-std-msgs, ros-melodic-swri-profiler-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-swri-profiler-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-libqt-core, ros-melodic-libqt-dev, ros-melodic-libqt-gui, ros-melodic-libqt-widgets, ros-melodic-roscpp, ros-melodic-std-msgs, ros-melodic-swri-profiler-msgs
Description: Provides tools for viewing data produced by nodes that use the swri_profiler library to output profiling information.
