Source: ros-noetic-swri-profiler-tools
Section: misc
Priority: optional
Maintainer: P. J. Reed <preed@swri.org>
Build-Depends: debhelper (>= 9.0.0), qt5-qmake, qtbase5-dev, ros-noetic-catkin, ros-noetic-roscpp, ros-noetic-std-msgs, ros-noetic-swri-profiler-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-swri-profiler-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, ros-noetic-roscpp, ros-noetic-std-msgs, ros-noetic-swri-profiler-msgs
Description: Provides tools for viewing data produced by nodes that use the swri_profiler library to output profiling information.
